.navbar{
  background-color: #f36D01;
  opacity: 0.9;
}
.nav-item,.nav-link,.navbar-brand{
  color:#ffffff!important;
}
.icons .nav-item{
  margin-left:10px;
}
.header-img{
  background: url('./components/Background.png');
}